/build/
ache/build/
ache-tools/build/
/output
/data/
*.log
/settings/
.gradle/
.settings/
.project
.classpath
*.class
config/ebola
config/humantrafficking
config/escort
/bin/
.DS_Store*
docs/_build/
ache/src/main/resources/public/
config/config_docker/data-*
config/config_docker_tor/data-*
.idea/
buildAndRun.sh
classes/
*.iml
out/
