/* @import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/react-vis/dist/style.css"; */
/*
@import "../node_modules/searchkit/release/theme.css";
*/

/* .ais-RefinementList-item {
    display: block;
    font-size: 1.4rem;
    line-height: 1.75rem; }

.ais-Hits-item,
.ais-InfiniteHits-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(35, 38, 59, 0.05), 0 1px 3px 0 rgba(35, 38, 59, 0.15);
  box-shadow: 0 0 0 1px rgba(35, 38, 59, 0.05), 0 1px 3px 0 rgba(35, 38, 59, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 1.5rem; } */

html, body {
    font-size: 16px;
}
input.ais-RefinementList-checkbox {
    margin: 0px 0 0;
}
.ais-RefinementList-labelText {
    font-weight: normal;
    margin-left: 4px;
}
.ais-RefinementList-label {
    margin-bottom: 0px;
}
.ais-Stats-text {
    font-size: 0.725rem;
}
.ais-Hits {
    margin-top: 10px;
}


body {
  padding-top: 50px;
  background-color: #F2F2F2;
}

.ache-logo {
  padding: 5px 25px;
}

.ache-logo img {
  height: 40px;
  padding: 5px 25px;
}

.main-content {
  padding: 20px 30px;
}

.message {
  text-align: center;
}

.hit-item {
  /* padding: 13px 20px; */
}

.hit-item .hit-title {
  padding-bottom: 4px;
}

.hit-item .hit-title a {
  font-size: 18px;
  font-weight: bold;
  /*
   * Hide anythin larger than 1 lines and use ellipsis.
   */
  overflow: hidden;
  height: 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 20px;
  max-height: 20px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.hit-item .hit-url {
  padding-bottom: 8px;
}

.hit-item .hit-url a {
  color:#006621;
  padding: 0px;
  max-width: 100%;
  /*
   * Hide anything larger than 1 line and use ellipsis.
   */
  overflow: hidden;
  height: 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 20px;
  max-height: 20px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.hit-item .hit-description {
  /*
   * Hide anything larger than 3 lines and use ellipsis.
   */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 20px;
  max-height: 64px;
}

.hit-item .hit-image {
  padding-right: 0;
}

.hit-item .hit-image img {
  max-width: 100%;
  max-height: 80px;
  margin: 0 auto;
  display: block;
}

.hit-item .hit-properties {
  padding-top: 5px;
}

ul.list-inline li button {
  margin-left: 2px;
  margin-right: 2px;
}

.relevant {
  color: #5cb85c;
}

.irrelevant {
  color: #d9534f
}

.label-all {
  text-align: center;
  padding-bottom: 15px;
}

.label-all .btn {
  margin:2px;
  background-color: transparent;
}

.ai-search-box {
    background: hsla(0,0%,100%,.15);
    border-radius: 3px;
    position: relative;
    display: flex;
    flex: 1;
    padding: 0 20px;
}

.rc-slider, .rc-slider * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.rc-slider {
    position: relative;
    height: 4px;
    width: 100%;
    border-radius: 6px;
    background-color: #e9e9e9;
}

.rc-slider-handle {
    position: absolute;
    margin-left: -7px;
    margin-top: -5px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #96dbfa;
    background-color: #fff;
    z-index: 2;
}


.rc-tooltip {
    position: absolute;
    left: -9999px;
    top: -9999px;
    z-index: 4;
    visibility: visible;
    max-width: 300px;
}
.rc-tooltip,
.rc-tooltip * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.rc-tooltip-hidden {
    display: none
}
.rc-tooltip-placement-top {
    padding: 4px 0 8px
}
.rc-tooltip-inner {
    padding: 6px 2px;
    min-width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #6c6c6c;
    border-radius: 6px;
    box-shadow: 0 0 4px #d9d9d9
}
.rc-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}
.rc-tooltip-placement-top .rc-tooltip-arrow {
    bottom: 4px;
    left: 50%;
    margin-left: -4px;
    border-width: 4px 4px 0;
    border-top-color: #6c6c6c
}
