@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/react-vis/dist/style.css";
/*
@import "../node_modules/searchkit/release/theme.css";
*/

body {
  padding-top: 50px;
  background-color: #F2F2F2;
}

.ache-logo {
  padding: 5px 25px;
}

.ache-logo img {
  height: 40px;
  padding: 5px 25px;
}

.main-content {
  padding: 20px 30px;
}

.message {
  text-align: center;
}

.hit-item {
  padding: 13px 20px;
}

.hit-item .hit-title {
  padding-bottom: 4px;
}

.hit-item .hit-title a {
  font-size: 18px;
  font-weight: bold;
  /*
   * Hide anythin larger than 1 lines and use ellipsis.
   */
  overflow: hidden;
  height: 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 20px;
  max-height: 20px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.hit-item .hit-url {
  padding-bottom: 8px;
}

.hit-item .hit-url a {
  color:#006621;
  padding: 0px;
  max-width: 100%;
  /*
   * Hide anything larger than 1 line and use ellipsis.
   */
  overflow: hidden;
  height: 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 20px;
  max-height: 20px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.hit-item .hit-description {
  /*
   * Hide anything larger than 3 lines and use ellipsis.
   */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 20px;
  max-height: 64px;
}

.hit-item .hit-image {
  padding-right: 0;
}

.hit-item .hit-image img {
  max-width: 100%;
  max-height: 80px;
  margin: 0 auto;
  display: block;
}

.hit-item .hit-properties {
  padding-top: 5px;
}

ul.list-inline li button {
  margin-left: 2px;
  margin-right: 2px;
}

.relevant {
  color: #5cb85c;
}

.irrelevant {
  color: #d9534f
}

.label-all {
  text-align: center;
  padding-bottom: 15px;
}

.label-all .btn {
  margin:2px;
  background-color: transparent;
}

/* ****************** */

.sk-layout__filters {
    background: #fff;
    padding: 15px;
    margin: 15px 0 15px 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 246px;
    -webkit-flex: 0 0 246px;
    flex: 0 0 246px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
}

.sk-panel__header {
    color: #000;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 14px;
}

.sk-item-list-option {
    position: relative;
    cursor: pointer;
    padding: 0;
    line-height: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-weight: 300;
}

.sk-item-list-option input.sk-item-list-option__checkbox {
    margin: 5px 5px 0 1px;
}

.sk-item-list-option__text {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    -webkit-flex: auto;
    flex: auto;
    font-size: 14px;
    color: #666;
}

.sk-item-list-option__count {
    font-size: 12px;
    text-align: right;
    color: #888;
}

.sk-refinement-list__view-more-action {
    font-size: 12px;
    color: #08c;
    cursor: pointer;
    margin-top: 5px;
}

.sk-selected-filters {
    display: flex;
    flex-flow: row;
    margin-right: 10px;
}

.sk-selected-filters-option {
    background: #f4f4f4;
    border: none;
}

.sk-selected-filters-option {
    border: 1px solid #ccc;
    display: flex;
    padding: 10px 0 10px 10px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
}

.sk-selected-filters__item {
/*    flex: auto; */
    margin-right: 10px;
}

.sk-selected-filters-option__remove-action {
    flex: auto;
    padding: 0 10px;
    cursor: pointer;
    font-size: 16px;
    line-height: 18px;
    color: #08c;
    font-weight: 700;
    border-left: 1px solid #ddd;
    padding: 0 15px 0 10px;
    margin-left: 10px;
}

.sk-reset-filters {
    border: none;

    font-size: 14px;
    margin: 0;
    padding-left: 0;
    border-radius: 3px;
    padding: 10px 0;
    cursor: pointer;
    color: #08c;
}

.sk-reset-filters.is-disabled {
    cursor: default;
    color: #ddd;
}

.sk-search-box {
    background: hsla(0,0%,100%,.15);
    border-radius: 3px;
    position: relative;
    display: flex;
    flex: 1;
    padding: 0 20px;
}

.sk-action-bar-row {
  padding: 0 20px;
}

.sk-search-box form {
    width: 100%;
    display: flex;
    margin: 0;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.sk-search-box__text {
    font-size: 18px;
    padding: 0px 5px;
    width: 100%;
    flex: 3;
    background: transparent;
    border: none;
}

.sk-search-box__action {
    display: none;
    height: 40px;
    visibility: hidden;
}

.sk-search-box__icon {
    flex: 0 20px 20px;
    padding: 12px;
    background: transparent;
    border: none;
}

.sk-search-box__icon:before {
    content: "";
    background: url('../node_modules/searchkit/theming/images/search.svg') no-repeat 0 0;
    background-size: contain;
    height: 20px;
    width: 20px;
    display: block;
}

.sk-search-box__loader.is-hidden {
    display: none;
}

.sk-search-box__loader {
    flex: 0 20px 20px;
    align-self: flex-end;
    margin: 10px;
}

.sk-spinning-loader, .sk-spinning-loader:after {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.sk-spinning-loader {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 2px solid rgba(0,0,0,.2);
    border-right: 2px solid rgba(0,0,0,.2);
    border-bottom: 2px solid rgba(0,0,0,.2);
    border-left: 2px solid #000;
    transform: translateZ(0);
    animation: spinning-loader 1.1s infinite linear;
}

.sk-hits-stats__info {
  padding: 10px 0;
}

.sk-layout {
    box-sizing: border-box;
    background: #f4f4f4;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.sk-layout__filters .sk-panel {
    margin-bottom: 16px;
}

.sk-panel {
    width: 100%;
    padding-bottom: 10px;
}

.sk-range-histogram {
    height: 50px;
    flex-flow: row;
    justify-content: space-around;
    display: flex;
    align-items: flex-end;
}

.sk-range-histogram__bar {
    background: hsla(100,5%,62%,.5);
    flex: 1;
}

/* Slider */

.sk-range-slider {
    padding-bottom: 16px;
}

.sk-range-slider .rc-slider-handle {
    border-color: #ccc;
}

.rc-slider, .rc-slider * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.rc-slider {
    position: relative;
    height: 4px;
    width: 100%;
    border-radius: 6px;
    background-color: #e9e9e9;
}

.rc-slider-handle {
    position: absolute;
    margin-left: -7px;
    margin-top: -5px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #96dbfa;
    background-color: #fff;
    z-index: 2;
}


.rc-tooltip {
    position: absolute;
    left: -9999px;
    top: -9999px;
    z-index: 4;
    visibility: visible;
    max-width: 300px;
}
.rc-tooltip,
.rc-tooltip * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.rc-tooltip-hidden {
    display: none
}
.rc-tooltip-placement-top {
    padding: 4px 0 8px
}
.rc-tooltip-inner {
    padding: 6px 2px;
    min-width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #6c6c6c;
    border-radius: 6px;
    box-shadow: 0 0 4px #d9d9d9
}
.rc-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}
.rc-tooltip-placement-top .rc-tooltip-arrow {
    bottom: 4px;
    left: 50%;
    margin-left: -4px;
    border-width: 4px 4px 0;
    border-top-color: #6c6c6c
}

/* Pagination */

.sk-pagination-navigation.is-numbered {
    width: 600px;
}

.sk-pagination-navigation {
    width: 300px;
    margin: 10px auto;
}

.sk-pagination-navigation .sk-toggle-option:first-child,
.sk-pagination-navigation .sk-toggle-option:last-child {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
}

.sk-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
    border-radius: 3px;
    max-height: 30px;
}

.sk-toggle-option:first-child {
    border-radius: 3px 0 0 3px;
}

.sk-toggle-option {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: transparent;
    border: 1px solid #ccc;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: #000;
    padding: 5px 10px;
    border-right: none;
    text-decoration: none;
    white-space: nowrap;
}

.sk-toggle-option:last-child {
    border-radius: 0 3px 3px 0;
    border-right: 1px solid #ccc;
}

.sk-toggle-option.is-active {
    background-color: #ddd;
    color: #080808;
    /* border-color: #08c; */
}
